.grid-container {
  position: relative;
  display: grid;
  /* grid-template-columns: repeat(6, 50px); */
  grid-gap: 5px;
}

.cell {
  height: 100px;
  width: 100px;
  position: relative;
}

.tile {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.fossil {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
